<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<nav>
			<h1>Real Estate Co.<br>Database Management System</h1>
		</nav>



		<!-- Home -->



		<h1 class="heading">Homes</h1>
		<form action="/" method="post">
			<!-- Filter buttons used for ordering the rowns -->
			<div class="filters">
				<p>Filters:</p>
				<button id="ownerBtn" type="submit" name="btn" value='{"table":"home","action":"x"}'>X</button>
				<button id="ownerBtn" type="submit" name="btn" value='{"table":"home","action":"owner"}'>owner</button>
				<button type="submit" name="btn" value='{"table":"home","action":"price"}'>price</button>
				<button type="submit" name="btn" value='{"table":"home","action":"sqft"}'>sqft</button>
				<button type="submit" name="btn" value='{"table":"home","action":"house type"}'>house type</button>
			        <button type="submit" name="btn" value='{"table":"home","action":"bathrooms"}'>bathrooms</button>
			</div>

			<!-- Titles for each row -->
			<div class="table">
				<!-- + button inserts a new row in home with null values -->
				<button class="add-del-btn" name="btn" value='{"table":"home","action":"+"}'>+</button>
				<!-- Update button updates all rows with whatever is currently in the input field -->
				<button class="add-del-btn" type="submit" name="btn" value='{"table":"home","action":"update"}'>update all</button>
				<p class="title">home id</p>
				<p class="title">type</p>
				<p class="title">sqft</p>
				<p class="title">floors</p>
				<p class="title">bedrooms</p>
				<p class="title">bathrooms</p>
				<p class="title">acreage</p>
				<p class="title">year</p>
				<p class="title">last price</p>
				<p class="title">owner</p>

				<!-- Embedded javascript is used here -->
				<!-- Input elements are used for displaying rows so the user can edit to update rows -->
				<!-- rows is the array passed from server.js in the GET and POST request -->
				<% for (let i = 0; i < data.rows.length; i ++) { %>
				<button class="add-del-btn" name="btn" value='{"table":"home","action":"-","id":"<%= data.rows[i].home_id %>"}'>-</button>
				<div></div>
				<input type="text" name="id" value="<%= data.rows[i].home_id %>">
				<input type="text" name="type" value="<%= data.rows[i].type %>">
				<input type="text" name="sqft" value="<%= data.rows[i].sqft %>">
				<input type="text" name="floors" value="<%= data.rows[i].floors %>">
				<input type="text" name="bedrooms" value="<%= data.rows[i].bedrooms %>">
				<input type="text" name="bathrooms" value="<%= data.rows[i].bathrooms %>">
				<input type="text" name="land_size" value="<%= data.rows[i].land_size %>">
				<input type="text" name="year" value="<%= data.rows[i].year %>">
				<input type="text" name="price" value="<%= data.rows[i].price %>">
				<!-- <input type="text" name="name" value="//<%= data.rows[i].name %>"> -->
				<select name="ownerselect">
					<option value="<%= data.rows[i].name %>"><%= data.rows[i].name %></option>
					<% for (let j = 0; j < data.owners.length; j ++) { %>
					<% if (data.owners[j].name != data.rows[i].name) { %>
					<option value="<%= data.owners[j].name %>"><%= data.owners[j].name %></option>
					<% } %>
					<% } %>
				</select>
				<% } %>
			</div>



			<!-- Sale -->



			<div class="create-components">
				<div class="create-wrapper sale-wrapper">
					<h3 class="comp-heading">Sales</h3>
					<div class="sale-table">
						<!-- + button inserts a new row in sale with null values -->
						<button class="add-del-btn" name="btn" value='{"table":"sale","action":"+"}'>+</button>
						<!-- Update button updates all rows with whatever is currently in the input field -->
						<button class="add-del-btn" type="submit" name="btn" value='{"table":"sale","action":"update"}'>update all</button>
						<p class="title">home id</p>
						<p class="title">price</p>
						<p class="title">date listed</p>
						<p class="title">date sold</p>
						<% for (let i = 0; i < data.sales.length; i ++) { %>
						<button class="add-del-btn" name="btn" value='{"table":"sale","action":"-","id":"<%= data.sales[i].sale_id%>"}'>-</button>
						<div></div>
						<select name="home_id">
							<option value="<%= data.sales[i].home_id %>"><%= data.sales[i].home_id %></option>
							<% for (let j = 0; j < data.rows.length; j ++) { %>
							<% if (data.rows[j].home_id != data.sales[i].home_id) { %>
							<option value="<%= data.rows[j].home_id %>"><%= data.rows[j].home_id %></option>
							<% } %>
							<% } %>

						</select>
						<input type="hidden" name="sale_id" value="<%= data.sales[i].sale_id %>">
						<input type="text" name="sale_price" value="<%= data.sales[i].price %>">
						<input type="text" name="date_listed" value="<%= data.sales[i].date_listed %>">
						<input type="text" name="date_sold" value="<%= data.sales[i].date_sold %>">
						<% } %>
					</div>
				</div>
				<div class="create-wrapper owner-wrapper">
					<h3 class="comp-heading">Create Owner</h3>
					<div></div>
				</div>
			</div>
		</form>
	</body>
</html>
