<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<nav>
			<h1>Real Estate Co.<br>Database Management System</h1>
		</nav>
		<h1 class="heading">Homes</h1>
		<div class="filters">
			<form action="/" method="post">
				<p>Filters:</p>
				<button id="ownerBtn" type="submit" name="btn" value="x">X</button>
				<button id="ownerBtn" type="submit" name="btn" value="owner">owner</button>
				<button type="submit" name="btn" value="price">price</button>
				<button type="submit" name="btn" value="sqft">sqft</button>
				<button type="submit" name="btn" value="house type">house type</button>
		</div>
		<div class="table">
			<button class="add-del-btn" name="btn" value="+">+</button>
			<button class="add-del-btn" type="submit" name="btn" value="update">update</button>
			<p class="title row">type</p>
			<p class="title row">price</p>
			<p class="title row">sqft</p>
			<p class="title row">floors</p>
			<p class="title row">bedrooms</p>
			<p class="title row">bathrooms</p>
			<p class="title row">acreage</p>
			<p class="title row">year</p>
			<p class="title row">owner</p>

			<!-- Embedded javascript is used here -->
			<!-- rows is the array passed from server.js in the GET and POST request -->
			<% for (let i = 0; i < rows.length; i ++) { %>
			<button class="add-del-btn" name="btn" value="<%= rows[i].home_id %>">-</button>
			<div></div>
			<input type="hidden" name="id" value="<%= rows[i].home_id %>">
			<input type="text" name="type" value="<%= rows[i].type %>">
			<input type="text" name="price" value="<%= rows[i].price %>">
			<input type="text" name="sqft" value="<%= rows[i].sqft %>">
			<input type="text" name="floors" value="<%= rows[i].floors %>">
			<input type="text" name="bedrooms" value="<%= rows[i].bedrooms %>">
			<input type="text" name="bathrooms" value="<%= rows[i].bathrooms %>">
			<input type="text" name="land_size" value="<%= rows[i].land_size %>">
			<input type="text" name="year" value="<%= rows[i].year %>">
			<input type="text" name="name" value="<%= rows[i].name %>">
			<% } %>
			</form>
		</div>
	</body>
</html>
